Barry DeZonia <bdezonia@wisc.edu> <bdezonia@users.noreply.github.com>
Christian Dietz <dietzc85@googlemail.com>
Christian Dietz <dietzc85@googlemail.com> <christian.dietz@uni-konstanz.de>
Gabriel Einsdorf <gabriel.einsdorf@knime.com> <gabriel.einsdorf@uni-konstanz.de>
Gabriel Einsdorf <gabriel.einsdorf@knime.com> <gabriel.einsdorf@uni.kn>
Gabriel Selzer <gabeselzer@gmail.com>
Gabriel Selzer <gabeselzer@gmail.com> <gselzer@wisc.edu>
ImageJ Jenkins <jenkins@imagej.net> <jenkins@dev.loci.wisc.edu>
Jan Eglinger <jan.eglinger@fmi.ch> <jan.eglinger@gmail.com>
Johannes Schindelin <johannes.schindelin@gmx.de>
Johannes Schindelin <johannes.schindelin@gmx.de> <dscho@users.noreply.github.com>
Jonathan Hale <Squareys@googlemail.com>
Leon Yang <leon.gh.yang@gmail.com>
Leon Yang <leon.gh.yang@gmail.com> <leonyang1994@gmail.com>
Mark Hiner <hiner@wisc.edu> <hinerm@gmail.com>
Richard Domander <rdomander@rvc.ac.uk>
