Barry DeZonia <bdezonia@wisc.edu> <bdezonia@users.noreply.github.com>
Christian Dietz <christian.dietz@uni-konstanz.de>
ImageJ Jenkins <jenkins@imagej.net> <jenkins@dev.loci.wisc.edu>
Johannes Schindelin <johannes.schindelin@gmx.de>
Johannes Schindelin <johannes.schindelin@gmx.de> <dscho@users.noreply.github.com>
Jonathan Hale <Squareys@googlemail.com>
Mark Hiner <hiner@wisc.edu> <hinerm@gmail.com>
